.DS_Store
*__pycache__
*.pyc
surmise_applications/
*.o
cov_*
.cov_*
.cache
surmise.egg-info
docs/_build
x.log

.idea
venv/
examples/Example_Missingness_Benchmark_mosesyhc/

build/lib.win-amd64-3.8/matern_covmat.cp38-win_amd64.pyd

build/temp.win-amd64-3.8/Release/surmise/emulationsupport/matern_covmat.cp38-win_amd64.exp

build/temp.win-amd64-3.8/Release/surmise/emulationsupport/matern_covmat.cp38-win_amd64.lib

build/temp.win-amd64-3.8/Release/surmise/emulationsupport/matern_covmat.obj

line_profiler/

matern_covmat.cp38-win_amd64.pyd

OpenBLAS/

surmise/emulationsupport/matern_covmat.c

CaseStudy/

.eggs/

examples/develop-example/

.coverage

scratch/
research/emucomp/figs/

research/emucomp/results/
