.DS_Store
*__pycache__
*.pyc
surmise_applications/
*.o
cov_*
.cov_*
.cache
surmise.egg-info
docs/_build
x.log
.idea
venv/
examples/Example_Missingness_Benchmark_mosesyhc/fayans/newp2.npy

scratch/plumlee_lpdftesting/newp2.npy

scratch/plumlee_lpdftesting/

*.c

OpenBLAS/

*.pyd

*.obj

line_profiler/

*.lib

build/temp.win-amd64-3.8/Release/surmise/emulationsupport/matern_covmat.cp38-win_amd64.exp
