.DS_Store
*__pycache__
*.pyc
*.pyd
surmise_applications/
build/
venv*/
*.o
cov_*
.cov_*
.cache
surmise.egg-info
docs/_build
x.log
*.egg
.idea
venv/
scratch/
line_profiler/
OpenBLAS/
surmise/emulationsupport/matern_covmat.c
CaseStudy/
.eggs/
examples/develop-example/
.coverage
/surmise/_version.py
/wheelhouse/
/dist/
