[project]
name = "surmise"
authors = [
    {name = "Matthew Plumlee"},
    {name = "Özge Sürer", email = "surero@miamioh.edu"},
    {name = "Stefan M. Wild"},
    {name = "Moses Y-H. Chan", email = "mosesyhc@u.northwestern.edu"}    
]
description = "A modular interface for surrogate models and tools"
license = {file = "LICENSE"}
readme = "README.rst"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
requires-python = ">=3.8"
dependencies = [
    'numpy>=1.18.3',
    'scipy>=1.7',
    'scikit-learn>=1.2.0']
dynamic = ["version"]

[project.urls]
Repository = "https://github.com/surmising/surmise"

[build-system]
requires = [
    "setuptools>=50.0",
    "numpy>=1.18.3",
    "cython",
    "wheel"
]
build-backend = "setuptools.build_meta"