# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:

  build37:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7]
        numpy-version: [1.16, 1.17, 1.18, 1.19]
        scipy-version: [1.4]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy==1.18
        python -m pip install scipy==1.4        
        python -m pip install flake8 pytest pytest-cov Cython
        python -m pip install scikit-learn 
        pip install -e .
    - name: Test with flake8
      run: |
        flake8
    - name: Test with pytest
      run: |
        ./tests/run-tests.sh

  build38:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8]
        numpy-version: [1.18, 1.19]
        scipy-version: [1.4]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install numpy==${{ matrix.numpy-version }}
        python -m pip install scipy==${{ matrix.scipy-version }}
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest pytest-cov Cython
        pip install -e .
    - name: Test with flake8
      run: |
        flake8
    - name: Test with pytest
      run: |
        ./tests/run-tests.sh

  build39:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        python-version: [3.9]
        numpy-version: [1.20.0]
        scipy-version: [1.6.0]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install numpy==${{ matrix.numpy-version }}
        python -m pip install scipy==${{ matrix.scipy-version }}
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest pytest-cov Cython
        pip install -e .
    - name: Lint with flake8
      run: |
        flake8
    - name: Test with pytest
      run: |
        ./tests/run-tests.sh
