# This workflow will install the oldest allowable versions of each dependence and run tests with the oldest Python allowable
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Oldest Python versions
env:
  CLONE_PATH:   ${{ github.workspace }}
  ACTIONS_PATH: ${{ github.workspace }}/.github/workflows

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop, v0.3-update ]

jobs:

  build_supported:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Please adjust pyproject.toml Python version requirement to match
        # supported version expressed here.
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Setup python with tox
      shell: bash
      run: $CLONE_PATH/.github/workflows/install_tox.sh
    - name: Run test suite
      run: |
        pushd $CLONE_PATH
        tox -r -e oldest
        popd
